PORT=3001

# Mydql Configuration
DB_HOST=localhost
DB_USER=root
DB_PASS=root
DB_NAME=gst

# MongoDB Configuration
MONGO_URI=mongodb://localhost:27017/my_app_logs
JWT_SECRET=supersecretkey_change_this
